
body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;


}

.containerhorario {

display: flex;
width: 25vw;
height: 7.5vw;
background-color: aquamarine;
justify-content: center;
align-items: center;

}

.relogio {

font-size: 4.7vw;
font-weight: bold;

}

.divisor {

    font-size: 4.7vw;
    padding: 0 5px 0 5px;

}