
body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;


}

.containerhorario {

display: flex;
width: 20rem;
height: 6rem;
background-color: aquamarine;
justify-content: center;
align-items: center;

}

.relogio {

font-size: 60px;
font-weight: bold;

}

.divisor {

    font-size: 60px;
    padding: 0 5px 0 5px;

}