
body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
position: relative;

}

main {
    z-index: 1;
}

.containerhorario {

display: flex;
width: 25vw;
height: 7.5vw;
background-color: aquamarine;
justify-content: center;
align-items: center;

}

.relogio {

font-size: 4.7vw;
font-weight: bold;

}

.divisor {

    font-size: 4.7vw;
    padding: 0 5px 0 5px;

}

#imagensAleatorias {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}